// Clearfix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// For pseudo-elements
%pseudos {
  display: block;
  content: ''; 
  position: absolute;
}

// Nav items 
%nav-item-display{
    display: inline-block;
    margin: 0 em(12px);
}

%nav-item-link{
    display: block;
}

%btn {
  margin-bottom: em(15px);
  padding: em(15px) em(42px);
  border: 0;
  border-radius: 8px;
  color: $white;
  width: 100%;
  text-transform: uppercase;
  font-size: em(14px);
  font-weight: $font-weight--medium;
  display: block;
}

%img{
  height: auto;
  max-width: 100%;
  align-self: center;
}
