// Clearfix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// For pseudo-elements
%pseudos {
  display: block;
  content: ''; 
  position: absolute;
}

// Nav items 
%nav-item-display{
    display: inline-block;
    margin: 0 em(12px);
}

%nav-item-link{
    display: block;
}

%btn {
  padding: 15px 30px;
  border: 0;
  border-radius: 8px;
  color: $white;
  width: 100%;
  text-transform: uppercase;
  font-size: em(14px);
  font-weight: $font-weight--medium;
  display: block;
}
