// Forms

.form {
    display: flex;
    flex-direction: column;

    & > label {
        display: none;

    }
    & > button{
        margin-right: 0;
    }

    @include e(label){
        display: block;
    }

    @include e(input){
        width: 100%;
        font-size: em(18px);
        margin-bottom: em(20px, 18px);
        border: none;
        border-bottom: 6px solid $color-secondary;
        background: none;
        color: palette(black, dark);
        font-weight: $font-weight--light;

        &:focus {
            border-color: $color-primary;       
        }
    }
    
}
