// Grid Containers
.container {
    @extend %clearfix;
    @extend .centered;
    width: 90%;

    // a nested grid 100%
    [class*="grid__col--"] > & {
        width: 100%;
    }

    // Max width for container
    @media(min-width: 1100px){
        max-width: $grid-max-width;
    }
}

[class$="__row"] {
    display: flex;
    flex-wrap: wrap;
}