.grid__col {
    @include mq(medium){
        @include grid-columns;
    }    
}

[class^="grid__col--"] {
    margin-top: em(12px);
    margin-bottom: em(12px);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 8px;
    @include mq(medium){
        @include all-but-first(percentage($grid-gutter / $context));
        
        min-height: 10px;
        &:last-of-type {
            
        }
        
    }
}
