// Grid Containers
.container {
    @extend %clearfix;
    @extend .centered;
    width: 86%;
    // a nested grid 100%
    [class*="grid__col--"] > & {
        width: 100%;
    }
    @include mq(small){
        width: 92%;
    }
    @include mq(large){
        max-width: $grid-max-width;
    }
}
.grid__row {
    margin-bottom: em(15px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include mq(small){
        flex-direction: column;
    }
    @include mq(medium){
        flex-direction: row;
    }
}