// Grid Containers
.container {
    @extend %clearfix;
    @extend .centered;
    width: 90%;
    
    @include mq(small){
        width: 95%;
    }
    @include mq(large){
        max-width: $grid-max-width;
    }
}
.grid__col--12,
.grid__row {
    @include mq(small){
        flex-direction: column;
    }

    @include mq(medium){
        @include flexbox(flex, wrap, row, space-around){
            margin-top: em(15px);
            margin-bottom: em(15px);
        }
    }
}