.img {
    @include m(avatar){
        @extend %img;
        border-radius: $br--round;
        margin-bottom: em(24px);

    }
    @include m(logo){
        @extend %img;
        margin-bottom: em(42px);
        @include mq(small){
            margin-bottom: 0;
        }
    }

    @include m(frame){
        @extend %img;
        padding: 10px;
        border: 1px solid palette(grey, x-light);
    }
}