.nav {
    list-style: none;    
    @include flexbox(flex, column, null, space-evenly);

    @include mq(medium){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: em(15px);
    }
    

}

.nav__item{
    display: block;
    @extend %nav-item-h;
    a{
        @extend %nav-item-l;
        padding: em(10px);
        border-radius: 8px;
        font-weight: $font-weight--bold;
        color: palette(grey);
    }
    a:active,
    a:focus,
    a:hover {
        background-color: $color-secondary;
        color: $white;
    }
    // active background-color: $color-secondary;
}